# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Environment variables
.env

# Instance Folder
instance/

# IDE files
.vscode/
.idea/

# MISO specific untracked files
*.pem
*.log
mindmap_test.html
launcher.py
forge-stack.yml
/certbot/
/nginx/
/ollama/

directory_map.txt
